<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta title="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Blog</title>
</head>

<body>
    <h1>Edit Blog</h1>
    <form action="/blogs/<%=blog._id%>?_method=PUT" method="POST">
        <label for="title">Blog Name</label>
        <input type="text" title="title" id="title" placeholder="blog title" value="<%=blog.title%>">
        <label for="content">Price (Unit)</label>
        <input type="number" id="content" title="content" placeholder="content" value="<%= blog.content %>">
        
        <button>Submit</button>
    </form>

    <a href="/blogs/<%=blog._id%>">Cancel</a>

</body>

</html>