<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Blog</title>
</head>

<body>
    <h1>Add A Blog</h1>
    <form action="/blogs" method="POST">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" placeholder="title">
        <label for="content">Content</label>
        <input type="text" id="content" name="content" placeholder="content">
        <button>Submit</button>
    </form>

</body>

</html>